# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# env
.env
.env.local
.env.*.local

# firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
functions/lib/
functions/node_modules/

# misc
.DS_Store
*.pem
npm-debug.log*
.vscode/
*.tsbuildinfo
next-env.d.ts
